html {
	height: -webkit-fill-available; /* this is here as part of a solution for mobile view prevention  of 'sliding' */
}
body {
	color: white;
	background-color: black;
	padding: 0;
	margin: 0;
	height: 100vh;
	height: -webkit-fill-available; /* this is here as part of a solution for mobile view prevention  of 'sliding' */
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Main Container wit initial elements setup */
.ch-a-container {
	/* border: 3px solid wheat; */
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
}
.ch-side-left {
	/* border: 3px solid purple; */
	min-width: 300px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.ch-search {
	border: 13px solid red;
	width: 100%;
	min-height: 75px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ch-menu-wrapp {
  	overflow-y: auto;
}
.ch-menu {
	border: 2px solid green;
	width: 100%;
	padding: 10px 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.ch-menu-splitter {
	width: 100%;
  	display: flex;
	align-items: center;
	/* padding-left: 16px; */
	color: #69707E;
	font-weight: bold;
	font-size: 13px;
	white-space: pre;
}
.ch-menu-splitter hr {
	margin-left: 10px;
	width: 100%;
	border-top: 1px solid #69707E;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.ch-list {
  	width: 100%;
}
/* .ch-menu-item {
  font-weight: bold!important;
} */
.MuiListItemText-primary {
	font-weight: bold!important;
}
.ch-menu-item:hover {
	/* background-color: rgba(255, 255, 255, 0.08); */
	background-color: #242A38;
  	border-radius: 2px;
}
.ch-submenu-button {
	width: -webkit-fill-available;
}
.animate {
	margin-left: 0px !important;
}
.ch-content-right {
	/* z-index: 3; */
	/* background: white; */
	/* border: 3px solid grey; */
	width: -webkit-fill-available;
	overflow-x: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
}
.ch-header {
	color: black;
	/* border: 3px solid blue; */
	border-bottom: 1px solid #E0E0E0;
	height: 75px;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.ch-table-wrapper {
  	width: 100%;
}

@media (max-width: 680px) {
  	.ch-side-left {
    	display: none;
  	}
}